.book-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.book-item a {
  color: #333;
  text-decoration: none;
  flex: 1;
}

.book-item a:hover {
  text-decoration: underline;
}

.book-item div {
  flex: 1;
}

.book-item button {
  width: 70px;
  height: 20px;
  cursor: pointer;
}

/* .book-item:nth-child(1) {
  flex: 3;
}
.book-item:nth-child(2) {
  flex: 2;
} */
